* {margin:0; padding:0}


body {
    font-family: 'Athene';
    }



/* Code Header */

header {
    border: 2px solid #D2D2D2;
    border-right: none;
    border-left: none;
    border-top: none;
}


header ul li {
    display: inline-block;
    color: #D2D2D2;
    font-family: 'Open Sans';
    height: 3vh;
    width: 15%;
}


.li1padding {
    padding-left: 15%;
}


.li2padding {
    padding-left: 46%
}


header, section:nth-of-type(1) {
    background-color: #efe8d7;
}

section:nth-of-type(1){
    padding-bottom: 10%;
}

/* section:nth-of-type(1) h5 {
    font-family: 'Open Sans', sans-serif;
} */

.OpenSans {
    font-family: sans-serif;
    font-weight: lighter;
}

/* Code: Main Section 1 */


section:nth-of-type(2) {
    background-color: #F4C4C4;
}


section:nth-of-type(3) {
    background-color: #DEB873;
}


section:nth-of-type(4) {
    background-color: #D2D2D2;
}


section:nth-of-type(1) h1, section:nth-of-type(1) h5 {
    color: #002a5a;
    padding: 1%;
    text-align: center;
}


.fontsize {
    font-size: 9em;
    font-weight: lighter;
}


.Cstyle {
    font-family: 'Open Sans';
    font-size: 130px;

}

section:nth-of-type(1) h5 {
    margin-left: -12%;
}


article:nth-of-type(1) img:nth-of-type(1) {
    padding-left: 38%;
    padding-top: 2%;
}


section:nth-of-type(1) h1:nth-child(2) {
    border: 2px solid #D2D2D2;
    border-right: none;
    border-left: none;
}


section:nth-of-type(1) span:nth-of-type(1) {
    font-size: 1.2em;
}


section:nth-of-type(1) span:nth-of-type(2){
    border: 1px solid #002a5a;
    border-radius: 50%;
    padding: 0.3%;
}



/* Code Main Section 2 Release */

section:nth-of-type(2) p:nth-of-type(5) {
    padding-bottom: 10%;
}

section:nth-of-type(2) table {
    font-family: 'Open Sans', sans-serif;
    margin-left: 60%;
}



.fontstyle1table {
    font-weight: lighter;
    font-size: 0.7em;
}


.fontstyle2table {
    font-weight: lighter;
    font-size: 1.3em;
}


.fontstyle3table {
    font-weight: lighter;
    font-size: 0.9em;
}



th {
    text-align: right;
    font-weight: normal;
}

th,td {
    border-bottom: 1px solid #282b29;
}


td {
    padding-top: 6%;
    padding-bottom: 6%;
}


.widthcolumn1 {
    width: 10%
}


.widthcolumn2 {
    width: 60%;
}


.widthcolumn3 {
    width: 10%;
    text-align: right;
}


section:nth-of-type(2) nav, section:nth-of-type(2) h1, section:nth-of-type(2) p, section:nth-of-type(2) article {
    color: #282b29;
}


section:nth-of-type(2) nav {
    padding-top: 3%;
    padding-left: 7.5%;
    padding-bottom: 3%;
}


.align {
    padding-top: 3%;
    padding-left: 52%;
    line-height: 5%;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}


section:nth-of-type(2) div:nth-of-type(1) {
    padding-right: 0%;
    margin-right: 12%;
}


section:nth-of-type(2) div:nth-of-type(2) {
    width: 10%;
    height: 20h;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 80%;
}


/* Code Main Section 3 Works */

section:nth-of-type(3) h1, section:nth-of-type(3) p, section:nth-of-type(3) article, section:nth-of-type(3) nav {
    color: #7d2222;
}


section:nth-of-type(3) nav {
    padding-top: 3%;
    padding-left: 87.5%;
    padding-bottom: 3%;
}

.h1padding1 {
    padding-left: 70%;
    padding-top: 0%;
    margin-top: 0%;
}

.h1padding2 {
    padding-left: 81%;
}


.p1234padding {
    padding-top: 3%;
    padding-left: 7.5%;
    line-height: 5%;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}


section:nth-of-type(3) article {
    padding-top: 8%;
    padding-bottom: 8%;
}


.h2padding1 {
    padding-left: 7.5%;
    font-size: 2.5em;
}


.paddingplus {
    padding-top: 4%;
}


.h2padding2 {
    margin-right: 7.5%;
    text-align: right;
    font-size: 2.5em;
    /* font-weight: lighter; */
}



/* Code Main Section 3: Code Images */

section:nth-of-type(3) article:nth-of-type(1) img, article:nth-of-type(3) img {
    width: 50%;
    padding-left: 42.5%;
    margin-top: -9%;
}


section:nth-of-type(3) article:nth-of-type(2) img, article:nth-of-type(4) img {
    width: 50%;
    padding-left: 7.5%;
    margin-top: -9%;
}


section:nth-of-type(3) article:nth-of-type(4) img {
    margin-bottom: 5%;
}




/* Code Main Section 4 Conta Ct */

section:nth-of-type(4) h1, section:nth-of-type(4) p, section:nth-of-type(4) nav {
    color: #1d8883;
}


section:nth-of-type(4) nav {
    padding-top: 3%;
    padding-left: 7.5%;
    padding-bottom: 3%;
}


.p123padding {
    padding-top: 3%;
    padding-left: 30%;
    line-height: 5%;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}


section:nth-of-type(4) p:nth-of-type(3) {
    padding-bottom: 5%;
}


.p456padding {
    padding-top: 3%;
    padding-left: 85%;
    line-height: 5%;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}


section:nth-of-type(4) p:nth-of-type(7) {
    padding-bottom: 5%;
}


section:nth-of-type(4) p:nth-of-type(7) {
    padding-bottom: 5%;
}


/* section:nth-of-type(4) p:nth-of-type(4):hover, p:nth-of-type(5):hover, p:nth-of-type(6):hover, p:nth-of-type(7):hover {
    text-decoration: underline;
} */


section:nth-of-type(4) p:nth-of-type(4):hover, p:nth-of-type(6):hover, p:nth-of-type(7):hover {
    text-decoration: underline;
}

section:nth-of-type(4) p:nth-of-type(5):hover{
    text-decoration: underline;
}

